out/

.git
.github

# docker
Dockerfile
docker-compose.yml
docker-compose.yaml

# python
**/__pycache__
**/*.py[cod]

# workspace
**/.DS_Store
**/.vscode

# coverage
htmlcov/
.coverage
.coverage.*
.cache
*.cover
*.py,cover
.pytest_cache/

# config
conf/nut.conf
conf/nut.conf.save
conf/users.conf
conf/blacklist.txt
conf/blacklist.*.txt

# metadata
cache/
titledb/

# data
titles/
_NSPOUT/

keys.txt
prod.keys
gdrive.token
token.pickle
credentials.json
file.verification.txt
nut.lock
nut2.lock
*.bin
*.token
*.pem
